
mei-fileDesc > mei-titleStmt >  mei-respStmt > mei-title {
   display: block;
   font-size: 40px;
}

mei-filedesc > mei-titleStmt > mei-respStmt > mei-persName {
   display: block;
   font-size: 35px;
}

mei-filedesc > mei-editionStmt > mei-date {
   display: block;
   margin-top: 1px;
}

mei-fileDesc > mei-titleStmt > mei-respStmt > mei-resp::before
{
  content: "Encoded By: " ;
  font-weight: bold;
}
   
mei-filedesc > mei-editionStmt > mei-date::before
{
  content: "Year Released: " ;
    font-weight: bold;
}
mei-filedesc > mei-editionstmt > mei-pubplace{
    display: block;
}

mei-filedesc > mei-editionStmt > mei-pubPlace::before
{
   content: "Recorded in: ";
  font-weight: bold;
}

mei-filedesc > mei-pubStmt > mei-useRestrict{
  display: block;
  font-style: italic;
  margin-top: 25px;
}

   
mei-filedesc > mei-pubStmt > mei-publisher > mei-corpName{
  display: block;
  margin-top: 0.5em;
}

mei-filedesc > mei-pubStmt > mei-publisher > mei-corpName::before
{
  content: "Published by: ";
  font-weight: bold;
}        

mei-filedesc > mei-pubStmt > mei-address > mei-addrLine > mei-geogName{
  display: block;
  }

mei-filedesc > mei-pubStmt > mei-address > mei-addrLine > mei-geogName::before
{
  content: "Location: ";
  font-weight: bold;
}

body {
   font-type: Arial; 
   padding: 22px;
   line-height: 1.2;
}
